<% content_for :title do %>Wifi Password<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="wifi" data-view="Text" data-title="Wifi Password" data-text="password123" data-moreinfo="Username: wifi"></div>
    </li>
  </ul>
</div>
